
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myContactoLabel" translate="cumminsApp.contacto.home.createOrEditLabel">Create or edit a Contacto</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.contacto.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.contacto.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="cumminsApp.contacto.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                    ng-model="vm.contacto.nombre"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="cumminsApp.contacto.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.contacto.email"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="cumminsApp.contacto.cargo" for="field_cargo">Cargo</label>
            <input type="text" class="form-control" name="cargo" id="field_cargo"
                    ng-model="vm.contacto.cargo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="cumminsApp.contacto.direccion" for="field_direccion">Direccion</label>
            <input type="text" class="form-control" name="direccion" id="field_direccion"
                    ng-model="vm.contacto.direccion"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="cumminsApp.contacto.telefono" for="field_telefono">Telefono</label>
            <input type="text" class="form-control" name="telefono" id="field_telefono"
                    ng-model="vm.contacto.telefono"
                     />
        </div>

        <div class="form-group">
            <label translate="cumminsApp.contacto.participante" for="field_participante">Participante</label>
            <select class="form-control" id="field_participante" name="participante" ng-model="vm.contacto.participante" ng-options="participante as participante.id for participante in vm.participantes | orderBy:'id' track by participante.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
